@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,600&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --mauxanh--color:#68a5d7;
}

body{
    height: 100vh;
    font-family: "Poppins";
    background: linear-gradient(to right,#70cbe9,#0c678b);
}

.card{
    margin: 120px auto;
    background: rgb(39, 45, 64);;
    border-radius: 15px;
    padding: 20px;
    width: 420px;
    height: 500px;
    color: white;
    position: relative;
}

.card__heart,.card__cart{
    font-size: 25px;
    left: 20px;
    top: 15px;
    position: absolute;
}

.card__cart{
    left: unset;
    right: 20px;
}

.card__img{
    width: 90%;
    margin-left: 15px;
    margin-top: -30px;
    transition: 1s;
}

.card__img img{
    width: 100%;
    height: 50%;
    object-fit: cover;
}

.card__title,.card__price{
    font-size: 25px;
    font-weight: bolder;
    text-align: center;
}

.card__title{
    color: var(--mauxanh--color);
    transition: 1s;
}

.card__price{
    transition: 1s;
}

.card__action button{
    background: rgba(105, 93, 93, 0.91);
    color: white;
    margin: 10px 40px;
    border-radius: 25px;
    padding: 10px 20px;
    border: none;
    outline: none;
    font-weight: bolder;
    font-size: 15px;
    cursor: pointer;
    transition: 0.5s;
}

.card__action{
    visibility: hidden;
    opacity: 0;
    transition: 0.5s;
    transition-delay: 0.4s;
}

.card:hover .card__img{
    transform: translateY(-75px) rotate(-270deg);
}

.card:hover .card__title{
    transform: translate(-70px,-70px);
}

.card:hover .card__price{
    transform: translate(120px,-110px);
}

.card__action button:hover{
    transform: scale(0.9);
}

.card:hover .card__action{
    opacity: 100;
    visibility: visible;
    margin-top: 0px;
}



